{% extends '@WebProfiler/Collector/translation.html.twig' %}

{#
 # Authors Tobias Nyholm, Damien Alexandre (damienalexandre)
 #}

{% import _self as translator %}
{% block panelContent %}
    <h2>Translation Stats</h2>
    <div style="float:left">
    <table style="max-width:300px; margin:0;">
        <tbody>
        <tr>
            <th>Defined messages</th>
            <td><pre>{{ collector.countdefines }}</pre></td>
        </tr>
        <tr>
            <th scope="col" style="">Fallback messages</th>
            <td scope="col" style=""><pre>{{ collector.countFallbacks }}</pre></td>
        </tr>
        <tr>
            <th>Missing messages</th>
            <td><pre>{{ collector.countMissings }}</pre></td>
        </tr>
        </tbody>
    </table>
    </div>
    <div style="float:left; margin-left: 20px;">
        <a class="button" href="javascript:void(0);" onclick='syncAll()'>Synchronize all translations</a><br />
        <div id="top-result-area"></div>
    </div>
<div style="clear:left"></div>

<form action="{{ path('_profiler_translations_create_assets', {'token': token}) }}" method="post"
      id="translations-list" onSubmit="return saveTranslations(this);" >

    <table>
        <tr>
            <th></th>
            <th>State</th>
            <th>Locale</th>
            <th>Domain</th>
            <th>Id</th>
            <th>Message Preview</th>
            <th width="60px">Actions</th>
        </tr>
        {% for key, message in collector.messages %}
            <tr id="{{ key }}">
                <td>
                    {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
                        <input type="checkbox" name="translationKey" value="{{ key }}" checked="checked">
                    {% else %}
                        <input type="checkbox" disabled>
                    {% endif %}
                </td>
                <td><code class="state">{{ translator.state(message) }}
                    {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
                        Edit to add translation
                    {% endif %}
                    </code></td>
                <td><code>{{ message.locale }}</code></td>
                <td><code>{{ message.domain }}</code></td>
                <td style="word-break: break-all; max-width:25%; min-width: 200px;">
                    <code>{{ message.id }}</code>
                    {% if message.count > 1 %}<br><small style="color: gray;">(used {{ message.count }} times)</small>{% endif %}

                    {# if symfony 2.8 #}
                    {% if message.parameters is defined %}
                        {% if message.transChoiceNumber is not null %}<br><small style="color: gray;">(use pluralization)</small>{% endif %}

                        {% if message.parameters|length > 0 %}
                            <div>
                                [<a href="#" onclick="return openParameters(this);" style="text-decoration: none;"
                                    title="Toggle parameters display" data-target-id="parameters-{{ loop.index }}" >
                                    <img alt="+" src="data:image/gif;base64,R0lGODlhEgASAMQTANft99/v+Ga44bHb8ITG52S44dXs9+z1+uPx+YvK6WC24G+944/M6W28443L6dnu+Ge54v/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABMALAAAAAASABIAQAVS4DQBTiOd6LkwgJgeUSzHSDoNaZ4PU6FLgYBA5/vFID/DbylRGiNIZu74I0h1hNsVxbNuUV4d9SsZM2EzWe1qThVzwWFOAFCQFa1RQq6DJB4iIQA7" style="display: inline; width: 12px; height: 12px;" />
                                    <img alt="-" src="data:image/gif;base64,R0lGODlhEgASAMQSANft94TG57Hb8GS44ez1+mC24IvK6ePx+Wa44dXs92+942e54o3L6W2844/M6dnu+P/+/l614P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABIALAAAAAASABIAQAVCoCQBTBOd6Kk4gJhGBCTPxysJb44K0qD/ER/wlxjmisZkMqBEBW5NHrMZmVKvv9hMVsO+hE0EoNAstEYGxG9heIhCADs=" style="display: none; width: 12px; height: 12px;" />
                                    <span style="vertical-align:top">Parameters</span>
                                </a>]

                                <div id="parameters-{{ loop.index }}" style="display: none;">
                                    {% for parameters in message.parameters %}
                                        {{ profiler_dump(parameters) }}
                                        {% if not loop.last %}<br />{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="word-break: break-all; max-width:50%; min-width:200px;"><code class="translation">{{ message.translation }}</code></td>
                <td><a class="flag" href="javascript:void(0);" onclick='flagMessage("{{ key }}")'>Flag</a><br />
                    <a class="sync"  href="javascript:void(0);" onclick='syncMessage("{{ key }}")'>Sync</a><br />
                    <a class="edit"  href="javascript:void(0);" onclick='getEditForm("{{ key }}")'>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Send selected translations to Loco</span>
                </span>
            </span>
    </button>

    <div id="translationResult"></div>

</form>

    {% include "HappyrTranslationBundle:Profiler:javascripts.html.twig" %}
{% endblock %}

{% macro state(translation) %}
    {% if translation.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
        same as fallback
    {% elseif translation.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
        missing
    {% endif %}
{% endmacro %}