{% extends '@WebProfiler/Collector/translation.html.twig' %}

{#
 # Authors Tobias Nyholm, Damien Alexandre (damienalexandre)
 #}

{% import _self as translator %}
{% block panelContent %}
    <h2>Translation Stats</h2>
    <table>
        <tbody>
        <tr>
            <th>Defined messages</th>
            <td><pre>{{ collector.countdefines }}</pre></td>
        </tr>
        <tr>
            <th scope="col" style="width: 30%">Fallback messages</th>
            <td scope="col" style="width: 60%"><pre>{{ collector.countFallbacks }}</pre></td>
        </tr>
        <tr>
            <th>Missing messages</th>
            <td><pre>{{ collector.countMissings }}</pre></td>
        </tr>
        </tbody>
    </table>

<form action="{{ path('_profiler_translations_create_assets', {'token': token}) }}" method="post"
      id="translations-list" onSubmit="return saveTranslations(this);" >

    <table>
        <tr>
            <th></th>
            <th>State</th>
            <th>Locale</th>
            <th>Domain</th>
            <th>Id</th>
            <th>Message Preview</th>
            <th></th>
        </tr>
        {% for key, message in collector.messages %}
            <tr id="{{ key }}">
                <td>
                    {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
                        <input type="checkbox" name="translationKey" value="{{ key }}" checked="checked">
                    {% else %}
                        <input type="checkbox" disabled>
                    {% endif %}
                </td>
                <td><code class="state">{{ translator.state(message) }}</code></td>
                <td><code>{{ message.locale }}</code></td>
                <td><code>{{ message.domain }}</code></td>
                <td>
                    <code>{{ message.id }}</code>
                    {% if message.count > 1 %}<br><small style="color: gray;">(used {{ message.count }} times)</small>{% endif %}
                </td>
                <td><code class="translation">{{ message.translation }}</code></td>
                <td><a href="javascript:void(0);" onclick='flagMessage("{{ key }}")'>Flag</a>
                    <a href="javascript:void(0);" onclick='syncMessage("{{ key }}")'>Sync</a>
                    <a href="javascript:void(0);" onclick='getEditForm("{{ key }}")'>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>


    <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Send selected translations to Loco</span>
                </span>
            </span>
    </button>

    <div id="translationResult"></div>

</form>

    {% include "HappyrLocoBundle:Profiler:javascripts.html.twig" %}
{% endblock %}
